<div>
  <ng-container [formGroup]="group!">
    <p-floatlabel>
      <p-password
        pInputText
        [id]="formControlName"
        [formControlName]="formControlName"
        [toggleMask]="true"
        [feedback]="false"
        autocomplete="off"
        fluid
        class="w-full"
      />
      <label [for]="formControlName">{{ label }}</label>
    </p-floatlabel>
    <app-field-errors [customErrorMessage]="customErrorMessage" [errors]="control?.errors"></app-field-errors>
  </ng-container>
</div>
