<div>
  <ng-container [formGroup]="group!">
    <p-floatlabel>
      <p-select 
      [inputId]="formControlName" 
      [optionLabel]="optionLabel" 
      [options]="options" 
      [optionValue]="optionValue"
      [invalid]="isInvalid('value')"
      [formControlName]="formControlName" 
      (onChange)="onChange($event)" 
      appendTo="body" 
      class="w-full"  />
      <label [for]="formControlName">{{ label }}</label>
    </p-floatlabel>
  </ng-container>
  <app-field-errors [customErrorMessage]="customErrorMessage" [errors]="control?.errors"></app-field-errors>
</div>